<div class="input-group">
  <span class="input-group-addon no-round-border">Search</span>
  <input type="text" [(ngModel)]="q" (keyup)="filterTask($event)" class="form-control no-round-border" placeholder="Type text here...">
</div>
<div class="input-group">
  <span class="input-group-addon no-round-border">Add Task</span>
  <input type="text" [(ngModel)]="title" (keydown)="addTask($event)" class="form-control no-round-border" placeholder="Type text here...">
</div>
<table class="table table-bordered table-striped table-hover" *ngIf="filteredTasks?.length != 0">
  <thead class="thead-inverse">
    <tr>
      <th>DONE</th>
      <th>TASK</th>
      <th>ACTION</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of filteredTasks | slice: (currentPage * pageSize) - pageSize : currentPage * pageSize">
      <td>
        <input type="checkbox" id="isdone" [checked]="task.isDone" (click)="updateTask(task)">
      </td>
      <td>{{task.title}}</td>
      <td>
        <input type="button" (click)="deleteTask(task._id)" value="Delete" class="btn btn-danger no-round-border">
      </td>
    </tr>
  </tbody>
</table>
<div class="input-group">
  <span class="input-group-addon no-round-border">Rows per page</span>
  <input type="text" [(ngModel)]="pageSize" id="pageSize" class="form-control no-round-border" placeholder="Type number here...">
</div>
<div class="btn-group">
  <button (click)="previousPage()" [disabled]="currentPage == 1" class="btn btn-primary no-round-border">Previous</button>
  <button class="btn btn-primary no-round-border" disabled>{{currentPage}}/{{numberOfPages()}}</button>
  <button (click)="nextPage()" [disabled]="currentPage >= numberOfPages()" class="btn btn-primary no-round-border">Next</button>
</div>
