<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>MEAN Stack with Angular 2</title>
	<!-- Polyfills for older browsers -->
	<script src="node_modules/core-js/client/shim.min.js"></script>
	<script src="node_modules/zone.js/dist/zone.min.js"></script>
	<script src="node_modules/reflect-metadata/Reflect.js"></script>
</head>
<body>
	<div>
		<h1>Api Routes</h1>
		<pre>get /tasks</pre>
		<pre>get /task/:id</pre>
		<pre>post /task</pre>
		<pre>delete /task/:id</pre>
		<pre>put /task/:id</pre>
		<a href="/">Home</a>
	</div>
</body>
</html>
